$primaryColor: #4a90e0;

body {
  box-sizing: border-box;
  color: $primaryColor;

  .background {
    height: 100vh;
    background: linear-gradient(to top, #cce3fc, #e8f7d0);
    position: fixed;
    z-index: -200;
  }

  header {
    nav {
      background: rgba(255, 255, 255, 0.98);
      font-family: 'Roboto', sans-serif;
      font-weight: 900;

    }
  }

  main {
    margin-top: 56px;

    .picture {
      box-sizing: content-box;
      border: 20px solid white;
      border-radius: 5px;
      box-shadow: 0px 5px 10px #888;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    .quit-to-second {
      background: #fff;
      border: #fff;
      border-radius: 50%;
      color: $primaryColor;
      font-size: 1.3rem;
      width: 50px;
      height: 50px;
      box-shadow: 0px 5px 10px #888;

      &:hover {
        background: $primaryColor;
        border: $primaryColor;
        color: #fff;
        cursor: pointer;
      }
    }

    .main-picture {
      background: white;
      .picture {
        box-sizing: border-box;
        height: 400px;
        object-fit: contain; 
        border-radius: 5px;
        &:hover{
          transform: none;
          cursor: default;
        }
      }
    }

    .left-picture,
    .right-picture {
      background: white;
      border-radius: 5px;
      box-shadow: 0px 5px 10px #888;
      .picture {
        border: 0px;
        height: 200px;
        object-fit: contain;
        border-radius: 0;
        box-shadow: none;
        opacity: 0.9;
        &:hover {
          transform: scale(1.02);
          cursor: pointer;
          opacity: 1;
        }

      }
    }

  }
}


// loading
$count: 10;
$time: 2; //in seconds
$size: 100;
$color:$primaryColor;

.holder {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 100;
}

.preloader {
  /* size */
  width: $size + px;
  height: $size + px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: rotatePreloader $time + s infinite ease-in;
}

@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }

  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 13%;
  height: 13%;
  background-color: $color;
  transform: translateX(-50%);
  border-radius: 50%;
}

@for $i from 1 through $count {
  .preloader div:nth-child(#{$i}) {
    transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
    animation: rotateCircle + $i $time + s infinite linear;
    z-index: $count - $i;
  }

  @keyframes rotateCircle#{$i} {
    #{percentage(((50 / $count) * ($i - 1)) / 100)} {
      opacity: 0;
    }

    #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
      opacity: 1;
      transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
    }

    #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }

    #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }

    100% {
      transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
      opacity: 1;
    }
  }
}